<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


<h:head>
	<title>Payments</title>
	<h:outputStylesheet library="plugins"
		name="bootstrap/css/bootstrap.css" />

	<link rel="stylesheet"
		href="resources/font-awesome/css/font-awesome.css" />

	<h:outputStylesheet name="forge-style-overriden.css" />

	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js"
		target="head" />
</h:head>

<h:body>
	<h:form id="paymentsForms" prependId="false">
		<p:growl id="msg" showDetail="false" />

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<h:link outcome="/payments.xhtml" styleClass="brand">
                    Payments
					</h:link>
					<h:link outcome="/notifications.xhtml"
						styleClass="brand pull-right gray hide">
					                    Notifications
										</h:link>
				</div>
			</div>
		</div>

		<div class="container forgecontainer">

			<div id="content">

				<div class="row">

					<div class="col-md-12" style="margin-top: 10px;">

						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel styleClass="control-label" value="From: " />
								</div>
								<div class="col-md-8">
									<p:calendar id="fromDate" value="#{paymentController.fromDate}"
										pattern="dd-MM-yyyy" />
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel styleClass="control-label" value="To: " />
								</div>
								<div class="col-md-8">
									<p:calendar id="toDate" value="#{paymentController.toDate}"
										pattern="dd-MM-yyyy" />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel styleClass="control-label" value="Total:" />
								</div>
								<div class="col-md-8">
									<h:inputText id="totalPayment" readonly="true"
										value="#{paymentController.totalPrice}"
										styleClass="form-control" />
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<h:commandLink action="#{paymentController.search()}"
								styleClass="btn btn-success btn-lg pull-right">
								<i class="fa fa-search" />
								<f:ajax execute="fromDate toDate"
									render="totalPayment" />
							</h:commandLink>
						</div>
					</div>

					<div class="col-md-12">
						<p:separator />
					</div>


					<div class="col-md-12">

						<h:panelGroup id="paymentsDataTable-panelGroup">
							<p:dataTable id="paymentsDataTable" rows="100" paginator="true"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,50,100,200,500"
								paginatorAlwaysVisible="false" paginatorPosition="bottom"
								value="#{paymentController.payments}" var="payment"
								rowIndexVar="index" emptyMessage="No Payments"
								widgetVar="paymentsVar" rowKey="#{payment.customerId}"
								rowStyleClass="#{payment.rowStyleClass()}">

								<f:facet name="header">
									<h:outputText value="Payments" styleClass="headerText" />

									<h:commandLink action="#{paymentController.openAddDialog()}"
										onclick="PF('addDialogVar').show()"
										styleClass="btn btn-primary white headerButton">
										<f:ajax />
										<i class="fa fa-plus white" />
									</h:commandLink>

									<h:commandLink
										styleClass="btn btn-info white headerButton exportToExcel"
										action="#{paymentController.exportToExcel()}">
										<i class="fa fa-file-excel-o white" />
									</h:commandLink>
								</f:facet>

								<p:column id="index" width="70">
									<h:outputText value="#{index+1}"></h:outputText>
								</p:column>

								<p:column id="delete" width="50">
									<h:commandLink styleClass="btn btn-sm btn-danger white"
										action="#{paymentController.selectForDelete()}"
										onclick="PF('deleteDialogVar').show()">
										<i class="fa fa-trash white" />
										<f:ajax />
										<f:param name="customerId" value="#{payment.customerId}" />
									</h:commandLink>
								</p:column>

								<p:column id="edit" width="50">
									<h:commandLink styleClass="btn btn-sm btn-success white"
										action="#{paymentController.openEditDialog()}">
										<i class="fa fa-pencil white" />
										<f:ajax />
										<f:param name="customerId" value="#{payment.customerId}" />
									</h:commandLink>
								</p:column>

								<p:column id="personName" sortBy="#{payment.name}" width="150"
									filterBy="#{payment.name}" filterMatchMode="contains"
									filterable="true">
									<f:facet name="filter">
										<p:inputText placeholder="Person Name"
											styleClass="form-control"
											onkeyup="PF('paymentsVar').filter()" />
									</f:facet>
									<h:outputText value="#{payment.name}" title="#{payment.name}" />
								</p:column>

								<p:column id="phoneNumber" sortBy="#{payment.phoneNumber}"
									width="155" filterBy="#{payment.phoneNumber}"
									filterMatchMode="contains" filterable="true">
									<f:facet name="filter">
										<p:inputText placeholder="Phone Number"
											styleClass="form-control"
											onkeyup="PF('paymentsVar').filter()" />
									</f:facet>
									<h:outputText value="#{payment.phoneNumber}"
										title="#{payment.phoneNumber}" />
								</p:column>

								<p:column id="price" sortBy="#{payment.price}" width="130"
									filterBy="#{payment.price}" filterMatchMode="contains"
									filterable="true">
									<f:facet name="filter">
										<p:inputText placeholder="Price" styleClass="form-control"
											onkeyup="PF('paymentsVar').filter()" />
									</f:facet>
									<h:outputText value="#{payment.price}" title="#{payment.price}" />
								</p:column>

								<p:column id="date" width="130" sortBy="#{payment.date}"
									filterBy="#{payment.date}" filterMatchMode="contains"
									filterable="true">
									<f:facet name="filter">
										<p:inputText placeholder="Date" styleClass="form-control"
											onkeyup="PF('paymentsVar').filter()" />
									</f:facet>
									<h:outputText value="#{payment.date}" title="#{payment.date}">
										<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
									</h:outputText>
								</p:column>

								<p:column id="notes" sortBy="#{payment.notes}"
									filterBy="#{payment.notes}" filterMatchMode="contains"
									filterable="true">
									<f:facet name="filter">
										<p:inputText placeholder="Notes" styleClass="form-control"
											onkeyup="PF('paymentsVar').filter()" />
									</f:facet>
									<h:outputText value="#{payment.notes}" title="#{payment.notes}" />
								</p:column>

							</p:dataTable>
						</h:panelGroup>

					</div>
				</div>
			</div>
		</div>

		<p:dialog id="addDialog" widgetVar="addDialogVar"
			header="Add New Payment" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog">


			<h:panelGroup id="addDialog-panelGroup">
				<div class="row">
					<div class="col-md-12">

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Person Name:" />
							</div>
							<div class="col-md-8">
								<h:inputText id="addCustomerName"
									styleClass="form-control
								#{not component.valid ? 'border-red' : ''}"
									value="#{paymentController.addCustomerPaymentDto.name}"
									validatorMessage="Duplicate Customer Name"
									validator="customerNameValidator">
								</h:inputText>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Phone Number:" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{paymentController.addCustomerPaymentDto.phoneNumber}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Price:" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control" emptyValue="0"
									decimalPlaces="2" thousandSeparator="," decimalSeparator="."
									symbol=" $" symbolPosition="s"
									value="#{paymentController.addCustomerPaymentDto.price}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Date:" />
							</div>
							<div class="col-md-8">
								<p:calendar id="addPaymentDate"
									inputStyleClass="form-control #{not component.valid ? 'border-red' : ''}"
									value="#{paymentController.addCustomerPaymentDto.date}"
									pattern="dd-MM-yyyy" required="true"
									requiredMessage="Empty Date" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Notes:" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{paymentController.addCustomerPaymentDto.notes}" />
							</div>
						</div>

					</div>

				</div>
			</h:panelGroup>

			<f:facet name="footer">
				<h:commandLink value="Ok" action="#{paymentController.add()}"
					styleClass="btn btn-primary popup-buttons">
					<f:ajax
						render="addCustomerName addPaymentDate msg"
						execute="addDialog-panelGroup" />
					<f:attribute name="param"
						value="#{paymentController.addCustomerPaymentDto.customerId}" />
				</h:commandLink>
				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('addDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="editDialog" widgetVar="editDialogVar"
			header="Edit Payment" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog"
			onShow="$('.ui-calendar input').addClass('form-control')">


			<h:panelGroup id="editDialog-panelGroup">
				<div class="row">
					<div class="col-md-12">


						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Person Name:" />
							</div>
							<div class="col-md-8">
								<h:inputText id="editCustomerName"
									styleClass="form-control
								#{not component.valid ? 'border-red' : ''}"
									value="#{paymentController.editCustomerPaymentDto.name}"
									validatorMessage="Duplicate Customer Name">
									<o:validator validatorId="customerNameValidator" />
									<f:attribute name="param"
										value="#{paymentController.editCustomerPaymentDto.customerId}" />
								</h:inputText>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Phone Number:" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{paymentController.editCustomerPaymentDto.phoneNumber}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Price:" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control" emptyValue="0"
									decimalPlaces="2" thousandSeparator="," decimalSeparator="."
									symbol=" $" symbolPosition="s"
									value="#{paymentController.editCustomerPaymentDto.price}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Date:" />
							</div>
							<div class="col-md-8">
								<p:calendar id="editPaymentDate"
									inputStyleClass="form-control #{not component.valid ? 'border-red' : ''}"
									value="#{paymentController.editCustomerPaymentDto.date}"
									pattern="dd-MM-yyyy" required="true"
									requiredMessage="Empty Date" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Notes:" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{paymentController.editCustomerPaymentDto.notes}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<h:outputLabel value="Payed:" />
							</div>
							<div class="col-md-2">
								<p:selectBooleanButton offLabel="NO" onLabel="YES"
									value="#{paymentController.editCustomerPaymentDto.payed}" />
							</div>
							<div class="col-md-3">
								<h:outputLabel value="#Of Payments:" />
							</div>
							<div class="col-md-3">
								<h:inputText styleClass="form-control"
									value="#{paymentController.numberOfPayments}" />
							</div>
						</div>

					</div>

				</div>
			</h:panelGroup>

			<f:facet name="footer">
				<h:commandLink value="Ok" action="#{paymentController.edit()}"
					styleClass="btn btn-primary popup-buttons">
					<f:ajax
						render="editCustomerName editPaymentDate msg"
						execute="editDialog" />
				</h:commandLink>
				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteDialog" draggable="false" closable="false"
			showEffect="clip" hideEffect="clip" modal="true" height="50"
			width="350" resizable="false" widgetVar="deleteDialogVar">
			<f:facet name="header">
				<h:outputText value="Confirm Deletion ????" />
			</f:facet>

			<h:commandLink value="Ok" action="#{paymentController.delete()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteDialogVar').hide()">
				<f:ajax />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteDialogVar').hide()">
				<h:outputText value="Cancel" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

		<h:outputScript name="calendar.js" />
	</h:form>
</h:body>

</html>